.loginOrSignUp{
  width: 50%;
  height: 80%;
  background-color: rgb(208, 230, 210);
  position: absolute;
  top: 50%;
  left: 50%;
  border: 5px solid rgb(101, 114, 102);
  transform: translate(-50%, -50%);
}

.options{
  text-align: center;
  flex: 1;
  height: 30px;
  background-color: rgb(101, 114, 102);
}

.warn{
  color: red;
  font-size: small;
}

#submit{
  background-color: rgb(12, 12, 97);
  color: #e5e5e5;
  font-size: large;
  height: 40px;
  width: 100px;
  border-radius: 10%;
}

#submit:disabled{
  background-color: rgb(77, 77, 133);
}

body {
  padding: 5px;
  background-image: url("../images/download.jpg");
}

.matchList{
  width: 100%;
  overflow-y: scroll;
  flex: 50;
  border: 5px solid rgb(101, 114, 102);
}

.copyright{
  color: white;
  flex: 1;
  font-size: large;
  text-align: end;
}

.principal{
  width: 60%;
  height: 99%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  transform: translate(-50%, -50%); 
}

.match{
  padding: 5px;
  border-bottom: 1px solid black;
  text-align: center;
  background-image: url("../images/down.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.heading{
  color:antiquewhite; 
  text-align: center;
}

.capital{
  font-size: larger;  
  flex: 1;
}

.clash{
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.teams{
  flex: 50;
}

.full{
  overflow-y: scroll;
  padding: 0%;
  width: 80%;
  height: 100%;
  background-color: rgb(208, 230, 210);
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.bothTeams{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  padding: 3%;
  gap: 50px;
}

.team{
  padding: 5px;
  width: 300px;
  border-bottom: 1px solid darkgreen;
  background-color: rgb(188, 207, 189);
}

.inningSelector{
  margin: 10px;
  height: 30px;
  width: 100px;
  background-color: rgb(101, 114, 102);
}

.scoreDetails{
  background-color: rgb(219, 240, 221);
  margin: 10px 50px 10px 50px;
  padding: 10px;
}

.battingScore{
  display: flex;
  padding: 10px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 80%;
  height: 40px;
  border: 1px solid black;
  background-color: rgb(207, 226, 208);
  text-align: center;
  flex-direction: row;
}

.playerPhoto{
  padding: 30px;
  border-radius: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  position: relative;
  transform: translateX(-50%);
}

table{
  border: 2px solid black;
  width: 98%;
  margin: 10px;
  font-size: large;
  text-align: center;
  border-collapse: collapse;
}

tr:nth-child(even){
  background-color: #eee;
}

tr:nth-child(odd){
  background-color:#fff;
}

th{
  background-color: black;
  color: white;
}

.photoInTeams{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.logger{
  display: flex;
  flex-direction: row;
}